<li class="result">
  <%= image_tag(result["Poster"], alt: "Movie Poster for #{result["Title"]}") %>
  <ul class="movie-details">
    <li><span>Title: </span><%= result["Title"] %></li>
    <li><span>Release Year: </span><%= result["Year"] %></li>
    <li><span>Title: </span><%= result["Title"] %></li>
    <li><span>Runtime </span><%= result["Runtime"] %></li>
  </ul>
</li>
<hr>
